.nya-referenser {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.nya-referenser h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.nya-referenser hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.referenser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

.referenser img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

@media (max-width: 1280px) {
    .nya-referenser h1 {
        font-size: 40px;
    }

    .nya-referenser hr {
        width: 160px;
        height: 4px;
    }

    .referenser {
        gap: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 1024px) {
    .nya-referenser h1 {
        font-size: 30px;
    }

    .nya-referenser hr {
        width: 120px;
        height: 3px;
    }

    .referenser {
        gap: 15px;
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .nya-referenser h1 {
        font-size: 20px;
    }

    .nya-referenser hr {
        width: 100px;
    }

    .referenser {
        gap: 5px;
    }
}

@media (max-width: 500px) {
    .referenser {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .nya-referenser h1 {
        font-size: 18px;
    }
}
